html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.key {
  border: .4rem solid black;
  margin: 1rem;
  font-size: 1.5rem;
  transition: all .07s ease;
  width: 150px;
  height: 100px;
  transform: skew(8deg);
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  display: table-column;
}

.playing {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 1rem yellow;
}

kbd {
  display: block;
  font-size: 4rem;
  text-align: center;
  font-family: 'Finger Paint', cursive;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
  text-align: center;
}
