html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@keyframes highlight {
  0% {
      border: .4rem solid black;
      width: 10rem;
  }
  50% {
      border: .6rem solid #ffc600;
      box-shadow: 0 0 1rem #ffc600;
      transform: scale(1.1);
  }
  100% {
      border: .4rem solid black;
      width: 10rem;
  }
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  animation-name: highlight;
  animation-duration: 0.07s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
