html {
  font-size: 10px;
  background:url(https://d103di0l3rpbtf.cloudfront.net/news/wp-content/uploads/2016/01/11162853/Roland-808-blog-post-header-image.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display:flex;
  flex:1;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border:4px solid black;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}

footer {
  display: block;
  position: static;
  bottom: 0;
  color: #CCC;
  padding: 10px;
  text-align: right;
}
footer a {
  color: #CCC;
}