html{
  font-size:10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.keys{
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
flex: 1;
}
.key{
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  transition: all .07s;
  text-align: center;
  color: beige;
  background: rgba(0,0,0,0.7);
  text-shadow: 0 0 .5rem black;
}
kbd{
  display: block;
  font-size: 4rem;
}

.sound{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
.playing{
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}