:root {
    --base: #ffc600;
    --blur: 2px;
    --spacing: 10px;
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}
 
img {
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}